body {
  margin: 0px;
}

div {
  border: 1px solid red;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 80px;
}

header .logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  padding-left: 30px;
}

header .logo img {
  margin-right: 10px;
}

header nav {
  padding-right: 30px;
  display: inline-flex;
  justify-content: space-between;
  width: 240px;
}

header nav a {
  color: black;
}
